@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gabarito:wght@700&family=Nunito&display=swap');

 

.popular-block .inner-box {
  position: relative;
  display: block;
  /* background-color: #dad3a5; */
  min-height: 100%;
  box-shadow: 0 0 20px 0px rgba(2, 24, 93, 0.20);
}

.popular-block .image-box {
  position: relative;
  overflow: hidden;
}

.popular-block .image-box .image {
  position: relative;
  background: #ff5522;
  border-radius: 8px;
  overflow: hidden;
}

.popular-block .image-box .image img {
  position: relative;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.popular-block .inner-box:hover .image img {
  transform: scale(1.08, 1.08);
}

.popular-block .hvr-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.popular-block .inner-box:hover .image-box::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.popular-block .image-box:before {
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .8)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.popular-block .hvr-box:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 78%;
  opacity: 0.55;
  background: rgba(0, 0, 0, 0.30);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
  border-radius: 8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.popular-block:hover .hvr-box:before {
  opacity: 0.80;
}

.popular-block .hvr-box .hvr-inner {
  position: absolute;
  left: 25px;
  bottom: 25px;
  right: 20px;
  z-index: 1;
}

.popular-block .hvr-box h3 {
  position: relative;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.popular-block .hvr-box h3 a {
  color: #fff;
  text-decoration: none;
}

.title-box.centered {
  text-align: center;
  margin: 0 auto 50px;
}

.title-box .subtitle {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
  color: #ff5522;
  margin: 0 0 10px;
}

.title-box h2 {
  position: relative;
  font-family: 'Gabarito', sans-serif;
  font-size: 3rem;
  color: #6e7887;
  margin: 0 0;
}

.title-box h2 span {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}