/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gabarito:wght@700&family=Nunito&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

 

.popular-block .inner-box {
  position: relative;
  display: block;
  /* background-color: #dad3a5; */
  min-height: 100%;
  box-shadow: 0 0 20px 0px rgba(2, 24, 93, 0.20);
}

.popular-block .image-box {
  position: relative;
  overflow: hidden;
}

.popular-block .image-box .image {
  position: relative;
  background: #ff5522;
  border-radius: 8px;
  overflow: hidden;
}

.popular-block .image-box .image img {
  position: relative;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.popular-block .inner-box:hover .image img {
  transform: scale(1.08, 1.08);
}

.popular-block .hvr-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.popular-block .inner-box:hover .image-box::before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.popular-block .image-box:before {
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .8)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .8) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.popular-block .hvr-box:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 78%;
  opacity: 0.55;
  background: rgba(0, 0, 0, 0.30);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.0));
  border-radius: 8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.popular-block:hover .hvr-box:before {
  opacity: 0.80;
}

.popular-block .hvr-box .hvr-inner {
  position: absolute;
  left: 25px;
  bottom: 25px;
  right: 20px;
  z-index: 1;
}

.popular-block .hvr-box h3 {
  position: relative;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.popular-block .hvr-box h3 a {
  color: #fff;
  text-decoration: none;
}

.title-box.centered {
  text-align: center;
  margin: 0 auto 50px;
}

.title-box .subtitle {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: 400;
  color: #ff5522;
  margin: 0 0 10px;
}

.title-box h2 {
  position: relative;
  font-family: 'Gabarito', sans-serif;
  font-size: 3rem;
  color: #6e7887;
  margin: 0 0;
}

.title-box h2 span {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

:root {
	--yellow: #ffdd40;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}

.typebody {
	margin: 0;
	padding: 0;
	font-family: "Lato", Arial, Helvetica, serif;
	font-size: 1em;
}

.typebody *,
.typebody *:before,
.typebody *:after {
	box-sizing: border-box;
}

.content {
	width: 90vmin;
}

h2 {
	text-align: center;
}

.team {
	padding: 2em 0 2em 2.5em;
	margin: 0;
  display: grid;
  grid-template-columns: 2;
}

.member {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
}

.member:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 23vmin;
	height: 23vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		var(--yellow) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}

.member:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
}

h3 {
	background: #fff0;
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 15vmin;
	padding: 0.5em 0.75em;
	color: var(--yellow);
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}

.member:nth-of-type(even) h3 {
	left: inherit;
	right: 15vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: black;
}
.member:nth-of-type(odd) h3 {
	right: inherit;
	left: 15vmin;
	transform: rotate(-2deg);
	transform-origin: right bottom;
	background: black;
}
.member:hover h3 {
	transition: var(--trans);
	transform: rotate(0deg);
	background: black;
}

.co-frontend:after {
	content: "FRONTEND";
	font-size: 0.75em;
	position: absolute;
	top: -1.5em;
	background: var(--yellow);
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
	font-weight: bold;
}

.co-backend:after {
	content: "BACKEND";
	font-size: 0.75em;
	position: absolute;
	top: -1.5em;
	background: var(--yellow);
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: var(--dark);
	font-weight: bold;
}

.co-frontend:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}
.co-backend:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}
.description p a {
	display: inline-block;
	margin-right: 15px;
	background: var(--dark);
	color: var(--yellow);
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}
.description p a:hover {
	transition: var(--trans);
	color: var(--dark);
	background: var(--yellow);
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}