/* .gradient{
	background: linear-gradient(-45deg, #f43c04, #0f0c5b, #eca50c, #0f4538);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} */


@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");


.card-container {
    perspective: 50em;
}

.card-container {
 background-image: url('../assets/bgimage.jpg');
}

.card {
    position: relative;
    width: 400px;
    height: 250px;
    text-align: center;
    padding: 1.2em 2em;
    color: #fff;
    transform: rotateY(15deg) rotateX(10deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card p {
    padding-top: 2.5em;
}

.card:hover {
    transform: rotateY(-15deg) rotateX(-10deg);
}

.layers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-image: var(--bi);
    transform: translateZ(var(--tz));
    box-shadow: 0 0 0.5em #000d inset;
}

.layer:nth-child(1) {
    --tz: 0px;
}

.layer:nth-child(2) {
    --tz: -4px;
}

.layer:nth-child(3) {
    --tz: -8px;
}

.layer:nth-child(4) {
    --tz: -12px;
}

.layer:nth-child(5) {
    --tz: -16px;
}

.layer:nth-child(6) {
    --tz: -20px;
}

.layer:nth-child(7) {
    --tz: -24px;
}

.layer:nth-child(8) {
    --tz: -28px;
}

.layer:nth-child(9) {
    --tz: -32px;
}

.layer:nth-child(10) {
    --tz: -36px;
}

.layer:last-child {
    box-shadow: 0 0 0.5em #000d inset, 0 0 5px #000;
}

